*::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.libraryElements {
    overflow-y: scroll;
    z-index: 100;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: calc(100% - 80px);
    height: 0;
    transition: ease all 1s;
}
.libraryElements > h1 {
    margin-top: 25px;
    font-size: 50px;
    margin-bottom: 25px;
}
.songs {
    padding-bottom: 5px;
    cursor: pointer;
}
.playlists {
    padding-bottom: 5px;
    cursor: pointer;
}
.library-types {
    display: flex;
    width: 70%;
    font-size: 30px;
    font-weight: bold;
    justify-content: space-around;
}
.list-container {
    margin-top: 50px;
    margin-bottom: 25px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.songComp {
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    width: 220px;
    height: 350px;
    border-radius: 10px;
    cursor: pointer;
}
.songComp img {
    background-color: white;
    border-radius: 50px;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.songComp:hover {
    animation: shake 0.3s;
}
.songComp::after {
    border: none;
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url(/icons/music.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
.songComp::before {
    border: none;
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url(/icons/heart.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
}
.songComp:hover:before {
    transition: ease-in 0.6s;
    transform: translateY(-150px) translateX(-80px) rotate(120deg) scale(0.4);
    opacity: 0;
}
.songComp:hover::after {
    transition: ease-in 0.6s;
    transform: translateY(-80px) translateX(80px) rotate(30deg) scale(0.4);
    opacity: 0;
}
.songComp img {
    pointer-events: none;
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.songComp h1 {
    pointer-events: none;
    opacity: 0.9;
    text-align: center;
    font-weight: normal;
    margin-bottom: 5px;
}
.songComp p {
    pointer-events: none;
    font-size: 15px;
}
/*playlist info*/
.playlistInfo {
    position: absolute;
    width: 80%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.playlistInfo > h1 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 150px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}
.playlistInfo > p {
    font-size: 30px;
    opacity: 0.7;
    padding-bottom: 15px;
    border-bottom: solid black 5px;
}
.playlistInfo-songsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    padding: 25px 0 25px 0;
    width: 100%;
    max-height: 60%;
    overflow: auto;
}
.playlistInfo-songInfo {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 70%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 2px rgba(192, 192, 192, 0.274);
}
.playlistInfo-songInfo > * {
    width: 30%;
    text-align: center;
}
.holder {
    display: none;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    width: 100%;
}
@media only screen and (max-width: 1000px) {
    .library-types {
        width: 90%;
    }
    .list-container {
        width: 100%;
    }
    .hovered-element {
        width: 95%;
    }
    .playlistInfo {
        width: 100%;
    }
    .playlistInfo-songInfo {
        width: 100%;
    }
    .playlistInfo > h1 {
        font-size: 50px;
    }
    .songComp {
        width: 180px;
        height: 250px;
    }
    .songComp img {
        width: 150px;
        height: 150px;
    }
}
@media only screen and (max-width: 400px) {
    .songComp {
        width: 130px;
        height: 250px;
    }
    .songComp img {
        width: 130px;
        height: 130px;
    }
    .songComp::before {
        width: 130px;
        height: 130px;
    }
}
